{% extends 'base.html.twig' %}

{% block title %}Lydiot | S'inscrire{% endblock %}

{% block body %}
    <section class="register">
        <div class="wrapper-section">
            <h1>S'inscrire</h1>

            {{ form_start(registrationForm) }}
            {{ form_row(registrationForm.email) }}
            {{ form_row(registrationForm.plainPassword, {
                label: 'Password'
            }) }}
            {{ form_row(registrationForm.agreeTerms) }}

            <button type="submit" class="btn">Register</button>
            {{ form_end(registrationForm) }}
        </div>
    </section>
{% endblock %}
