{% extends 'base.html.twig' %}

{% block title %}Lydiot | Vos comptes{% endblock %}

{% block body %}
    <section class="accounts">
        <div class="wrapper-section" style="margin: 1em auto; max-width: 800px;" >
            <h1>Les comptes de {{ app.user.surname }}  </h1>

            <ul>

                <li class="add-account"><a href="{{ path('create_account') }}"><span class="material-icons">add</span>Ajouter un compte</a></li>
                {% for account in accountList %}
                    {% if account.status != "archive" %}

                    <li class="accounts">
                        <a href="{{ path('accountsSingle', {accountId: account.accountId}) }}">
                            <bdi class="montant">{{account.money}}<span class="devise">€</span></bdi>
                            <span class="nom-compte">{{ account.nomCompte|capitalize }}</span>
                        </a>
                    </li>

                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </section>

{% endblock %}
