{% extends 'base.html.twig' %}

{% block title %}Lydiot | {{ account.nomCompte }}{% endblock %}

{% block body %}
    <section class="heading">
        <div class="wrapper-section mb-[4rem]">
            <h1> Compte : {{ account.nomCompte }}</h1>
             <bdi> Montant : {{ account.money }}<span class="devise">€</span></bdi>
        </div>
    </section>
    <section class="single-accounts mb-[4rem]">
        <div class="wrapper-section">
            <div class="liens">
                <a href="{{ path('virement-account', {accountId: account.accountId}) }}"><span class="material-icons">account_balance_wallet</span>Ajouter de l'argent</a>
                <a href="{{ path('transaction-account', {accountId: account.accountId}) }}"><span class="material-icons">currency_exchange</span>Faire une transaction</a>
                <a href="{{ path('archive-account', {accountId: account.accountId}) }}"><span class="material-icons">delete</span>Supprimer le compte</a>
            </div>
        </div>
    </section>
{% endblock %}
