{% extends 'base.html.twig' %}

{% block title %}Lydiot | {{ account.nomCompte }}{% endblock %}

{% block body %}
    <section class="heading">
        <div class="wrapper-section">
            <bdi>{{ account.money }}<span class="devise">€</span></bdi>
            <h1>{{ account.nomCompte }}</h1>
        </div>
    </section>
    <section class="single-accounts">
        <div class="wrapper-section">
            <div class="liens">
                <a href="{{ path('accounts') }}/virement/{{ account.id }}"><span class="material-icons">account_balance_wallet</span>Ajouter de l'argent</a>
                <a href="{{ path('accounts') }}/transaction/{{ account.id }}"><span class="material-icons">currency_exchange</span>Faire une transaction</a>
                <a href="{{ path('accounts') }}/archive/{{ account.id }}"><span class="material-icons">delete</span>Supprimer le compte</a>
            </div>
        </div>
    </section>
{% endblock %}
