{% extends 'base.html.twig' %}

{% block title %}Lydiot | {{ account.nomCompte }}{% endblock %}

{% block body %}
    <section class="accounts">
        <div class="wrapper-section">
            <h1>{{ account.nomCompte }}</h1>
            <bdi>{{ account.money }} <span class="devise">€</span></bdi>
            <a href="{{ path('accounts') }}/{{ account.id }}/virement">Ajouter de l'argent</a>
            <a href="{{ path('accounts') }}/{{ account.id }}/transaction">Faire une transaction</a>
            <a href="{{ path('accounts') }}/{{ account.id }}/delete">Supprimer le compte</a>
        </div>
    </section>
{% endblock %}
