<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="shortcut icon" type="image/png" href="/assets/images/logo/favicon-lydio.png"/>
    <link rel="stylesheet" href="/assets/styles/styles.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body>
<header>
    <div class="wrapper-header">
        <a href="/" class="logo"><img src="/assets/images/logo/logo-lydio.svg" alt="Logo Lydio"></a>
        <nav>
            <ul>
                {% if app.user %}
                    <li><a class="transition duration-150 px-[1rem] py-[0.5rem] rounded-full hover:bg-[#E6E8FF]" href="{{ path('profil') }}" title="Mon profil">Mon profil</a></li>
                    <li><a class="transition duration-150 px-[1rem] py-[0.5rem] rounded-full hover:bg-[#E6E8FF]" href="{{ path('accounts') }}" title="Mes comptes">Mes comptes</a></li>
                    <li><a class="transition duration-150 px-[1rem] py-[0.5rem] rounded-full hover:bg-[#E6E8FF] btn" href="{{ path('app_logout') }}"  title="Se déconnecter">Se déconnecter</a></li>
                {% else %}
                    <li><a class="transition duration-150 px-[1rem] py-[0.5rem] rounded-full hover:bg-[#E6E8FF] btn" href="{{ path('login') }}" title="Se connecter">Se connecter</a></li>
                    <li><a class="transition duration-150 px-[1rem] py-[0.5rem] rounded-full hover:bg-[#E6E8FF] btn" href="{{ path('app_register') }}" title="S'enregistrer'">S'enregistrer</a></li>
                {% endif %}

            </ul>
        </nav>
    </div>
</header>
<main class="">
    {% block body %}{% endblock %}
</main>
<footer>
    <div class="wrapper-footer">

    </div>
</footer>
</body>
</html>
